{% extends 'XarismaBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Customer Details</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('custorder') }}">
                Back to the list
            </a>
        </li>
    </ul>
            
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Customer</th>
                <td><strong>{{ entity.accountname }}</strong></td>
            </tr>
            <tr>
                <th>Customer #</th>
                <td>{{ entity.customernumber }}</td>
            </tr>
            <tr>
                <td>Id:{{ entity.id }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr>
                <th>Repname</th>
                <td>{% if entity.repname%}{{ entity.repname }}{% else%}N/A{% endif %}</td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            
            <tr>
                <th>Created</th>
                {% if entity.datecreated.timestamp is defined %}
                    <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
                {% else %}
                    <td>Null</td>  
                {% endif %}
            </tr>
            <tr>
                <th>Updated</th>
                {% if entity.dateupdated.timestamp is defined %}
                    <td>{{ entity.dateupdated|date('Y-m-d H:i:s') }}</td>
                {% else %}
                    <td>Null</td>  
                {% endif %}
            </tr>
            
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('customer') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
