{% extends 'XarismaBundle:Default:base.html.twig' %}

{% block body %}
    <h1>Customer Order List</h1>

    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th>Order #</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Needs Exp</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if entity.needsexport %}
                <tr class="needsexport">
            {% else %}
                <tr>
            {% endif %}
                <td><a href="{{ path('custorder_show', { 'id': entity.id }) }}">{{ entity.ordernumber }}</a></td>
                <td>{{ entity.customername }}</td>
                <td>{{ entity.orderdate|date('Y-m-d') }}</td>
                <td>{{ entity.orderstatus }}</td>
                {% if entity.needsexport %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}    
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}

{% block pagecss %}
<style>
    tr.needsexport { background-color: #f7ffb4; }
</style>
{% endblock %}