{% extends 'XarismaBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Customer Order Detail</h1>
    
    <ul class="record_actions">
        <li>
            <a href="{{ path('custorder') }}">
                Back to the list
            </a>
        </li>
    </ul>
                
    <table class="record_properties table_details">
        <tbody>
            <tr>
                <th>Order #</th>
                <td><strong>{{ entity.ordernumber }}</strong></td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ entity.customer.accountname }}</td>
            </tr>
            <tr>
                <th>Order Date</th>
                {% if entity.orderdate.timestamp is defined %}
                    <td>{{ entity.orderdate|date('Y-m-d') }}</td>
                {% else %}
                    <td>Null</td>  
                {% endif %}
            </tr>            
            
            <tr>
                <th>Status</th>
                <td>{{ entity.orderstatus }}</td>
            </tr>
            <tr>
                <th>Date Exported</th>
                {% if entity.dateexported.timestamp is defined %}
                    <td>{{ entity.dateexported|date('Y-m-d H:i:s') }}</td>
                {% else %}
                    <td>Null</td>  
                {% endif %}
            </tr>
            <tr>
                <th>Needs Export</th>
                {% if entity.needsexport %}
                  <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>&nbsp;</td>
            </tr>
            
            <tr>
                <th>Created</th>
                {% if entity.datecreated.timestamp is defined %}
                    <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
                {% else %}
                    <td>Null</td>  
                {% endif %}
            </tr>
            <tr>
                <th>Updated</th>
                {% if entity.dateupdated.timestamp is defined %}
                    <td>{{ entity.dateupdated|date('Y-m-d H:i:s') }}</td>
                {% else %}
                    <td>Null</td>  
                {% endif %}
            </tr>
            
            <tr>
                <th>Update By</th>
                {% if entity.updateby is not null %}
                    <td>{{ entity.updateby }}</td>
                {% else %}    
                    <td>Null</td>
                {% endif %}    
            </tr>
        </tbody>
    </table>
            
        <div class="notes_div">
            {% if entity.notes %}
              {% set notes=entity.notes %}
            {% else %}
              {% set notes = 'No notes for this record' %}
            {% endif %}
            <input type='textarea' class='textarea_notes' readonly='readonly' value='{{ notes }}' />
        </div>

<ul class="record_actions">
    <li>
        <a href="{{ path('custorder') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block pagecss %}
<style>
 table.table_details { background-color: #cfcfcf; padding: 7px;}
 table.table_details >tbody > tr > th { padding-right: 10px; }
 div.notes_div {margin-top: 15px;}
 .textarea_notes
   { border:none; background-color: #cfcfcf;  width: 450px; height: 250px; }
</style>
{% endblock %}
