{% extends 'XarismaBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Worklog list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Stationstatus</th>
                <th>Comments</th>
                <th>Datecreated</th>
                <th>Dateupdated</th>
                <th>Deleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('worklog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.stationstatus }}</td>
                <td>{{ entity.comments }}</td>
                <td>{% if entity.datecreated %}{{ entity.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateupdated %}{{ entity.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.deleted }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('worklog_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('worklog_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('worklog_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
