{% extends 'XarismaBundle:Default:base.html.twig' %}

{% block body -%}
    
    {% if entity.action == 'I' %}
    {%   set eventType = 'Import' %}
    {% else %}
    {%   set eventType = 'Export' %}
    {% endif %}
        
    <h1>File Opeerations Job Details</h1>
    
    <ul class="record_actions">
    <li>
        <a href="{{ path('fileops') }}">
            Back to the list
        </a>
    </li>
    </ul>
            
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Event Type</th>
                <th>{{ eventType }}</th>
            </tr>
            <tr>
                <th>Event Time</th>
                <td>{{ entity.eventTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr>
                <th>Filename</th>
                <td>{{ entity.filename }}</td>
            </tr>
            <tr>
                <th>Md5</th>
                {% if entity.md5 is not null %}
                    <td>{{ entity.md5 }}</td>
                {% else %}    
                    <td>Null</td>
                {% endif %}    
            </tr>
            <tr>
                <th>Recs</th>
                <td>{{ entity.recs }}</td>
            </tr>
            <tr>
                <th>Errors</th>
                <td>{{ entity.errors }}</td>
            </tr>
            <tr>
                <th>Customernew</th>
                <td>{{ entity.customerNew }}</td>
            </tr>
            <tr>
                <th>Customerupdate</th>
                <td>{{ entity.customerUpdate }}</td>
            </tr>
            <tr>
                <th>Ordernew</th>
                <td>{{ entity.orderNew }}</td>
            </tr>
            <tr>
                <th>Orderupdate</th>
                <td>{{ entity.orderUpdate }}</td>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            
            <tr>
                <th>Created</th>
                {% if entity.datecreated.timestamp is defined %}
                    <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
                {% else %}
                    <td>Null</td>  
                {% endif %}
            </tr>
            <tr>
                <th>Updated</th>
                {% if entity.dateupdated.timestamp is defined %}
                    <td>{{ entity.dateupdated|date('Y-m-d H:i:s') }}</td>
                {% else %}
                    <td>Null</td>  
                {% endif %}
            </tr>
            
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('fileops') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
